.container-main {
  background-color: #ffd3f2 !important;
}

.order {
  background-color: #ff5dbc;
  font-family: 'AronGrotesque-Black';
  font-size: 1.25em;
  border-radius: 5px;
}

.header-item-order {
  background-color: #ff5dbc;
  font-family: 'AronGrotesque-Black';
  font-size: 0.8em;
  border-radius: 5px;
}

.rotate-img {
  transform: rotate(90deg);
}

.reverse-rotate-img {
  transform: rotate(0deg);
}

.img-item {
  width: 12px;
}

.card-body {
  padding: 5px;
  background-color: #ffbce4;
  border-radius: 15px;
  margin-bottom: 60px;
  color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  /*transform: translate(-50%, 0);*/
  font-size: 0.9em;

}

.odd {
  background-color: #ff88cf;
}

.even {
  background-color: #ff6fc4;
}

#accordion {
  background-color: #ff5dbc;
  border-radius: 15px;
}
