<footer class="footer vh-10">
<div class="row mx-auto" >
  <div class="col-4 text-center">
    <div class="col-12 m-0">
    <img src="assets/img/icons/home.png" class="logo-footer img-fluid m-1"/>
    </div>
    <div class="col-12 m-0">
     <span>Inicio</span>
    </div>
  </div>
  <div class="col-4 text-center">
    <a routerLink="/user/profile">
    <div class="col-12 m-0">
    <img src="assets/img/icons/profile.png" class="logo-footer img-fluid  m-1"/>
    </div>
    <div class="col-12 m-0">
    <span>Perfil</span>
    </div>
    </a>
  </div>
  <div class="col-4 text-center ">

    <div class="col-12 m-0">
    <img src="assets/img/icons/orders.png" class="logo-footer img-fluid m-1  "/>
    </div>
    <div class="col-12 m-0">
    <span>Pedidos</span>
    </div>

  </div>
</div>
</footer>
