.container-main {
  background-color: #ffd3f2 !important;
}
.prices-main {
  background-color: #ff5dbc;
  border-radius: 15px;
}

.text-price{
  font-size: 0.8em;
}
.text-small{
  font-size: x-small;
}

/*.text-big{*/
/*  font-family: GlacialIndifference-Bold;*/
/*  font-size: 8vw;*/
/*}*/
.logo{
  width:  5.5em;
  vertical-align: center;
  display: inline-block;
}
