.container-main {
  background-color: #ffd3f2 !important;
  margin-bottom: 60px;
}
.prices-main {
  background-color: #ff5dbc;
  border-radius: 15px;
}

.text-price{
  font-size: 0.8em;
}
.text-small{
  font-size: x-small;
}

/*.text-big{*/
/*  font-family: GlacialIndifference-Bold;*/
/*  font-size: 8vw;*/
/*}*/
.logo{
  width:  5.5em;
  vertical-align: center;
  display: inline-block;
}

.text-uppercase {
  text-transform: uppercase;
  font-weight: 700;
}
.text-italic{
    font-style: italic;
}
.bpadding{
  padding-bottom: 20px;
}
.line-right{
  border-right: 1px solid #FFF;
}
.text-strong{
    font-weight: 700;
}
.small_circle{
  background: #FFF;
  border-radius: 50%;
  color: #FFF;
  height: 10px;
  width: 10px;
  margin: auto;

}
.small_circle_container{
  text-align: center;
}