
.logo{
  width:  6vh;
  vertical-align: center;
}
.text-logo{
  font-family: 'AronGrotesque-Black';
  font-size: 2.25em;
  display: inline-block;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .vh-10{
    height: auto !important;
  }
  .logo{
    width:  4vh;
    vertical-align: center;
  }
}


@media (min-width: 1200px) {

}
