.header{
  height: 60px;
}
.logo{
  width:  2.5em;
  vertical-align: center;
}
.text-logo{
  font-family: 'AronGrotesque-Black';
  font-size: 2.25em;
  display: inline-block;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}
