.logo{
  width:  2.5em;
  vertical-align: center;
  display: inline-block;
}
.text-logo{
  font-family: 'AronGrotesque-Regular';
  font-size: 2.25em;
  display: inline-block;
}

.container-main {
  background-color: #ffd3f2 !important;
}
.bestsellers-main {
  background-color: #ff5dbc;
  border-radius: 15px;
}

.text-price{
  font-size: 0.8em;
}
.text-small{
  font-size: x-small;
}

.text-big{
  font-family: GlacialIndifference-Bold;
  font-size: 2em;
}
.logo{
  width:  5.5em;
  vertical-align: center;
  display: inline-block;
}
