<div class="fill container-main">
  <div class="container pt-1 pb-2 text-center edit">

    <div class="row bestsellers-main  mt-2 ml-1 mr-1 custom-mb" >
      <div *ngIf="bestsellers" class="col-md-12 col-12 mx-auto">


        <div class="row mt-2 mb-2">
          <div class="col-4  my-auto mx-auto  d-flex justify-content-center">
            <img src="assets/img/logo-white.png" class="img-fluid mr-2 logo  align-self-start my-auto"/>
          </div>
          <div class="col-8 text-center my-auto">
            <div class="order m-2 text-white p-2 text-big">Productos mas vendidos</div>
          </div>
        </div>

        <div *ngFor="let bs of bestsellers" class="row text-white">
          <div class="col-12 ml-4 text-left">
              <h4 >
                <u>
                {{ bs.category}}
                </u>
              </h4>

          </div>
          <div class="col-12 text-left" >
            <ul>
              <li *ngFor="let product of bs.products">
                {{product.name}}
              </li>
            </ul>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
