.container-main{
  background-color: #ffa7e2;
}
.card-main{
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  /*display: flex;*/
  /*direction: rtl;*/
}

.card-main-text{
  font-size: 0.8em;
  font-family: GlacialIndifference-Regular;
}

.card-main-logo{
  max-height: 80px;
}

