<div class="container-main mx-auto pt-3  align-middle">
  <div class="row mx-auto mt-3">
    <div class="col-6">
      <h5 class="card-title card-main-text text-center">Hacé tu pedido</h5>
      <div class="card card-main ">
        <div class="card-body m-1">

          <img src="assets/img/icons/notebook-2.png" class="img-fluid card-main-logo text-center"/>
        </div>
      </div>
    </div>
    <div class="col-6"><h5 class="card-title card-main-text  text-center">Oficina</h5>
      <div class=" card card-main ">
        <div class="card-body m-1">

          <img src="assets/img/icons/notebook-2.png" class="img-fluid card-main-logo text-center"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto mt-3">
    <div class="col-6"><h5 class="card-title card-main-text text-center">Catálogo</h5>
      <div class="card card-main ">
        <div class="card-body m-1">

          <img src="assets/img/icons/notebook-2.png" class="img-fluid card-main-logo text-center"/>
        </div>
      </div>
    </div>
    <div class="col-6"><h5 class="card-title card-main-text text-center">Material Publicitario</h5>
      <div class=" card card-main ">
        <div class="card-body m-1">

          <img src="assets/img/icons/notebook-2.png" class="img-fluid card-main-logo text-center"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto ">
    <div class="col-6"><h5 class=" card-title  card-main-text text-center">Precios</h5>
      <div class="card card-main ">
        <div class="card-body m-1">

          <img src="assets/img/icons/notebook-2.png" class="img-fluid card-main-logo text-center"/>
        </div>
      </div>
    </div>
    <div class="col-6"><h5 class="card-title card-main-text text-center">Preguntas Frecuentes</h5>
      <div class="card card-main ">
        <div class="card-body m-1">

          <img src="assets/img/icons/notebook-2.png " class="img-fluid card-main-logo text-center"/>
        </div>
      </div>
    </div>
  </div>

</div>


