.btn-product{
  background-color: #ff3cae;
  color: #ffffff;
}

.product-title{
  font-family: GlacialIndifference-Bold;
  font-weight: bolder;
  color: #000000;
}
.summary{
  background-color: #ffdff1;
  border-radius: 15px;
  bottom: 90px;
  position: absolute;
  color: #ac93a6;

}
.product-select{
  background-color: #f762ad !important;
  color: #ffffff;
}
