.container-main{
  background-color: #ffd3f2 !important;
}

.btn-product{
  background-color: #ff5dbc ;/*#ff3cae;*/
  color: #ffffff;
}

.product-title{
  background-color: #ff5dbc ;/*#f762ad;*/
  font-family: 'AronGrotesque-Regular';
  font-size: 4vw;
  border-radius: 5px;

}
.summary{
  background-color: #ffbce4;
  border-radius: 15px;
  margin-bottom: 60px;
   color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /*transform: translate(-50%, 0);*/
  font-size: 0.8em;

}

.text-category{
  color: #ff5dbc;
  font-size: 0.8em;
  font-family: GlacialIndifference-Regular;
  font-weight: bolder;
}

/*.container{*/
/*  background-color: #ffd3f2;*/
/*}*/

.img-circle{
  background-color: #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}



/* Small devices (landscape phones, 378px and up) */
@media (min-width: 428px) {
.img-circle{

    width: 140px;
    height: 140px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
.img-circle{

    width: 150px;
    height: 150px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
.img-circle{

    width: 175px;
    height: 175px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.img-circle{

    width: 180px;
    height: 180px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.img-circle{

    width: 180px;
    height: 180px;
  }
}
