<div class="fill container-main">
<div class="container pt-1 text-center">
  <div class="row">
    <div class="col-6 mx-auto">
      <h5 class="product-title m-2  text-uppercase text-white">Categorias</h5>
    </div>
  </div>
  <div class="row overflow-auto row-category h-100">
    <div  *ngFor="let category of categories"  class=" col-4 my-auto">
      <a
         (click)="showProducts(category)">
        <div class="col-12 mx-auto">
          <img src="data:image/png;base64,{{category.wkn_categ_image}}" class="img-circle p-2" />
        </div>
        <div class="col-12 text-category">
        {{category.name}}
        </div>
      </a>

    </div>
  </div>
  <div class="row summary mr-1 ml-1 ">
    <div class=" col-12 mt-2 pt-1 pb-1 pl-4 pr-4">
      <div class="row">
        <div class="col-12 text-left">
          <h6 class="mb-0"><u>Resumen del pedido</u></h6>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-left">
          <span class="mb-0">Productos comprados: {{total.quantity}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-left">
          <span class="mb-0">Total: {{total.amount | currency}}</span>
        </div>

      </div>
      <div class="row">
        <div class="col-6 text-left">
          <span class="mb-0"> Ganancia: {{total.gain | currency}}</span>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-sm btn-wkn text-uppercase" (click)="next()">siguiente</a>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
