.btn-product{
  background-color: #ff3cae;
  color: #ffffff;
}

.product-title{
  font-family: GlacialIndifference-Bold;
  font-weight: bolder;
  color: #000000;
}
.summary{
  background-color: #ffdff1;
  border-radius: 15px;
  bottom: 1px;
  margin-bottom: 60px;
   color: #ac93a6;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.8em;

}
