<div class="row">
  <div class="col-4"></div>
  <div class="col-4 text-center mx-auto ">
    <img src="assets/img/icons/profile-white.png" class="img-fluid p-4"/>
  </div>
  <div class="col-4"></div>
</div>
<div class="row mt-4">

  <div class="col-10 profile-data p-2 mx-auto ">
    <div class="row text-profile mt-2">
      <div class="col-12">Nombre:</div>
    </div>
    <div class="row text-profile mt-2">
      <div class="col-12">Apellido:</div>
    </div>
    <div class="row text-profile mt-2">
      <div class="col-12">Mail:</div>
    </div>
    <div class="row text-profile mt-2">
      <div class="col-12">Teléfono:</div>
    </div>
    <div class="row text-profile mt-2">
      <div class="col-12">Domicilio:</div>
    </div>
    <div class="row text-profile mt-2">
      <div class="col-12">Productos Comprados:</div>
    </div>
    <div class="row text-profile mt-2">
      <div class="col-12">Ganancia:</div>
    </div>
    <div class="row text-profile mt-2">
      <div class="col-12">Productos más vendido:</div>
    </div>
    <div class="row text-profile mt-2">
      <div class="col-12">Pedidos realizados:</div>
    </div>
    <div class="row">
      <div class="col-12 text-center mx-auto mt-2">
        <a href="" class="btn btn-wkn">Editar cuenta</a>
      </div>
    </div>
  </div>

</div>
