.container-main{
  background-color: #ffd3f2 !important;
}
.profile-data{
  background-color: #ffffff;
  color: #fe2399;
  border-radius: 10px;
}
.text-profile{
  font-family: GlacialIndifference-Regular;
  font-size: 0.8em;
}
