<div class="container">
<div class="row">
  <div class="col-12 text-center">
    <div class="faq m-2 text-white p-2">Preguntas Frecuentes</div>
  </div>
</div>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div *ngFor=" let faq of faqs; let i = index" class="row p-2">
    <div class="col-12 header-item-faq" role="tab" id="heading-{{i}}">
      <div class="row m-2 p-0">
        <div class="col-2 pl-1 pr-1 my-auto">
          <a data-toggle="collapse" href="#faq{{i}}" aria-expanded="false"  (click)="clickToggle($event)"

             >
            <img src="assets/img/right-triangle.png"  />
          </a>
        </div>
        <div class="col-10 text-center text-white">
          {{faq.display_name}}
        </div>



      </div>

    </div>
    <div id="{{'faq'+i}}" class="collapse" data-parent="#accordion" role="tabpanel">
      <div class="card-body">
        <div class="row m-0 p-0">
          <div class="col-12" [innerHTML]="faq.html">

        </div>

      </div>
    </div>
  </div>

</div>
</div>
