<div class="fill container-main">
<div class="container pt-1 text-center">
  <div class="row">
    <div class="col-9 mx-auto">
      <h5 class="product-title m-2  text-uppercase text-white">Promociones</h5>
    </div>
  </div>

  <div class="summary" *ngIf="promos">
    <div class="row">

      <div class="col-12 text-center">
       <strong> ¡Tenes Promos disṕonibles con tu pedido!</strong>
      </div>
    </div>
    <div class="" >
    <div ngClass="row  {{odd ? 'odd' : 'even'}}" *ngFor="let promo of promos">

      <div class="col-8 text-left">
        <div class="row">
          <div class="col-9">
          {{promo.product_id[1]}}
          </div>
        <div class="col-1 m-0 p-0  text-center  my-auto"><a class=""><img src="assets/img/minus.png" class="img-fluid" (click)="removeProductPromoQty(promo)"></a></div>
        <div class="col-1 m-0 p-0 text-center  my-auto"><strong>({{promo.product_qty}})</strong></div>
        <div class="col-1 m-0 p-0  text-center  my-auto"><a class=""><img src="assets/img/plus.png" class="img-fluid" (click)="addProductPromoQty(promo)"></a></div>
        </div>
      </div>
      <div class="col-4 text-center">
      <a class="btn btn-wkn btn-sm text-uppercase pull-right" (click)="selectPromo(promo.id)">Elegir</a>


      </div>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">

  </div>
</div>
<div class="row order-actions mx-auto w-100">
</div>
