<div class="container login">
  <div class="row text-center mt-5">
    <div class="col-12">
      <img src="assets/img/logo-white.png" class="logo"/>
    </div>

    <div class="col-12">
      <h4 class="text-white text-logo">Wakanda</h4>
    </div>
    <div class="col-12" class="text-white">
      <p>Ingresar su email para recibir un codigo de desbloqueo</p>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-4 col-12 mx-auto">


      <form [formGroup]="authForm" class="login-container" (ngSubmit)="requestPassword()">

        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
          <label for="exampleInputEmail1" class="text-white">email</label>
          <input type="email" class="form-control input-custom" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="email">
          <div *ngIf="isSubmitted && formControls.email.errors" class="help-block text-white font-italic">
            <div *ngIf="formControls.email.errors.required"><strong>*</strong>Debe ingresar un email</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
        <button type="submit" class="btn btn-login btn-lg">Enviar</button>
          </div>
          <div class="col-12 text-center mt-2">
            <a routerLink="/register" class="text-white">Registrarse</a> | <a routerLink="/login" class="text-white">Ingresar</a>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
