<div class="fill container-main">
  <div class="container pt-1 text-center">
    <div class="row">
      <div class="col-9 mx-auto">
        <h5 class="product-title m-2  text-uppercase text-white">Orden finalizada</h5>
      </div>
    </div>
    <div class="summary" *ngIf="order">
      <div class="row">
        <div class="col-12 text-center">
          <strong>Tu orden de pedido tiene el numero {{ order['display_name'] }}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          Fecha: {{ order['date_order'] | date: 'dd/MM/yyyy'}}
        </div>
        <div class="col-6">
          Total {{order['amount_total'] | currency}}

        </div>
      </div>
      <div *ngIf="orderLines">
        <div ngClass="row  {{odd ? 'odd' : 'even'}}" *ngFor="let line of orderLines;let odd =odd;">
          <div class="col-2 text-right">
            {{ line['product_uom_qty']}}
          </div>
          <div class="col-6 text-left">
            {{ line['name'] }} </div>
          <div class="col-4 text-right">
            {{line['price_total'] | currency}}
          </div>
        </div>
      </div>
    </div>
    <div class="row order-actions mx-auto w-100">
      <div class="col-12 text-center">
        <a routerLink="" class="btn btn-wkn btn-sm text-uppercase pull-left"> Cerrar</a>
      </div>
    </div>
</div>