<div class="fill container-main">
  <div class="container pt-1 text-center">
    <div class="row">
      <div class="col-6 mx-auto">
        <h5 class="product-title m-2  text-uppercase text-white">Catalogo</h5>
      </div>
    </div>
    <div  class="row overflow-auto row-category h-100">
      <ngx-spinner></ngx-spinner>

      <div *ngFor="let cat of catalogs" class="col-12 my-auto mx-auto">
        <carousel>
          <slide *ngFor="let item of cat['images']">
                <img src="data:image/jpg;base64,{{item.image}}" class="img-fluid" />
          </slide>
        </carousel>
      </div>

    </div>
        <div class="row order-actions mx-auto w-100">
      <div *ngIf="catalogs" class="col-12 text-center">
        <a href="{{catalogs[0]['link']}}" class="btn btn-wkn btn-sm text-uppercase pull-left">Descargar Catalogo</a>
      </div>
    </div>
  </div>
</div>
