/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/AronGrotesque-Black/style.css";
@import "assets/fonts/AronGrotesque-Bold/style.css";
@import "assets/fonts/AronGrotesque-Light/style.css";
@import "assets/fonts/AronGrotesque-Regular/style.css";

@import "assets/fonts/GlacialIndifference-Bold/style.css";
@import "assets/fonts/GlacialIndifference-Italic/style.css";
@import "assets/fonts/GlacialIndifference-Regular/style.css";

@import "assets/fonts/ElliotSans-Bold/style.css";
@import "assets/fonts/ElliotSans-BoldItalic/style.css";
@import "assets/fonts/ElliotSans-Light/style.css";
@import "assets/fonts/ElliotSans-LightItalic/style.css";
@import "assets/fonts/ElliotSans-Medium/style.css";
@import "assets/fonts/ElliotSans-MediumItalic/style.css";
@import "assets/fonts/ElliotSans-Regular/style.css";
@import "assets/fonts/ElliotSans-RegularItalic/style.css";







body{
  background-color: #ff5dbc !important;
}
.vh-90{
  height: 90vh !important;
}
.vh-85{
  height: 85vh !important;
}
.vh-80{
  height: 80vh !important;
}
.vh-7
0{
  height: 70vh !important;
}
.vh-60{
  height: 60vh !important;
}
.vh-20{
  height: 20vh !important;
}
.vh-10{
  height: 10vh !important;
}

.btn-wkn{
  background-color: #ff5dbc !important; /* #fe2399 !important;*/
  color:#fff !important;
  text-decoration: none;
}
.product-select .modal-content{
  background-color: #f762ad !important;
  color: #ffffff;
}
