<div class=" container-dashboard mx-auto  align-middle h-100  ">
  <div class="row mx-auto d-flex h-25 mt-4">
    <div class="col-6 text-center my-auto"   >
      <a  class="item-main" routerLink="/products" >
        <h5 class="item-main-text text-center">Hacé tu pedido</h5>
        <div class="item-main-img  mx-auto">
          <img src="assets/img/main/order.png" class="img-fluid p-4"/>
        </div>
      </a>
    </div>
    <div class="col-6 text-center my-auto">
      <a class="item-main">
        <div class="row">
          <div class="col-12">
        <h5 class="item-main-text text-center">Nuestra Oficina</h5>
          </div>
          <div class="col-12">
        <div class="item-main-img  mx-auto">
          <img src="assets/img/main/location.png" class="img-fluid p-4"/>
        </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mx-auto  d-flex h-25 mt-4 ">
    <div class="col-6 text-center my-auto">
      <a class="item-main">
        <h5 class=" item-main-text text-center">Catálogo y Material Publicitarios</h5>
        <div class="item-main-img  mx-auto">

        <img src="assets/img/main/catalog.png" class="img-fluid p-4"/>
        </div>
      </a>
    </div>
    <div class="col-6 text-center my-auto">
      <a class="item-main">
        <h5 class=" item-main-text text-center">Productos Mas Vendidos</h5>
        <div class="item-main-img  mx-auto">

                  <img src="assets/img/main/bestsellers.png" class="img-fluid p-4"/>
        </div>
      </a>
    </div>
  </div>

  <div class="row mx-auto d-flex h-25 mt-4">
    <div class="col-6 text-center my-auto">
      <a class="item-main" routerLink="/prices">
        <h5 class=" item-main-text text-center">Nuestros Precios</h5>
        <div class="item-main-img  mx-auto">

                  <img src="assets/img/main/prices.png" class="img-fluid p-4"/>
        </div>
      </a>
    </div>
    <div class="col-6 text-center my-auto">
      <a class="item-main" routerLink="/faq">
        <h5 class=" item-main-text text-center">Preguntas Frecuentes</h5>
        <div class="item-main-img  mx-auto">

                  <img src="assets/img/main/faq.png" class="img-fluid p-4"/>
        </div>
      </a>
    </div>
  </div>


</div>

